{
  "Name": "shopping",
  "DisplayName": "购物",
  "Description": "快速制作各类表单,如报名表,登记表,邀请表,反馈表,预约表,订单表等。",
  "Publisher": "siteserver",
  "Version": "1.0.0",
  "Website": "http://www.siteserver.cn",
  "ExecuteFileName": "bin/SS.Shopping.dll",
  "icon": "logo.svg",
  "includes": [
    "admin/",
    "logo.png",
    "bin/SS.Shopping.dll",
    "plugin.json   "
  ]
}